.Home h1 {
  margin: 10px;
}
.section-produits {  
    margin: 2% 10% 2% 10%;
}
.container-produits {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
    padding: 20px;
    width: max-content; 
    max-width: 100%; 
    margin: auto; 
    visibility: hidden; 
    background-color: white;
    box-shadow: 0px 5px 50px -20px #222;
    border-radius: 10px;
}
.container-produits:has(> *) {
    visibility: visible; 
}
 /* css category */
.section-categories {
    margin: 2% 10% 2% 10%;
}
.container-categories {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
    padding: 20px;
    width: max-content; 
    max-width: 100%;
    margin: auto; 
    visibility: hidden; 
    background-color: white;
    box-shadow: 0px 5px 50px -20px #222;
    border-radius: 10px;
}

.container-categories:has(> *) {
    visibility: visible; 
}

  